body {
  font-family: monospace;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}
header {
  color: #FFF;
  position: fixed;
  background: rgba(253, 189, 94, 0.81);
  top: 0px;
  width: 100%;
  text-align: center;
  padding-left: 20px;
}
.header {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  padding-right: 15px;
  height: 60px;
}
.header > a {
    text-decoration: none;
    padding: 23px 15px 19px;
    line-height: 18px;
    color: #FFF;
    transition: background-color .177s ease;
}
sidebar {
  color: #FFF;
  position: fixed;
  background: rgba(253, 189, 94, 0.81);
  left: 0px;
  top: 41px;
  bottom: 41px;
  width: 41px;
  padding-left: 20px;
}
sidebar p {
  width: 1px;
  word-wrap: break-word;
  white-space:pre-wrap;
  line-height: 20px;
}
footer {
  color: #FFF;
  position: fixed;
  background: rgba(253, 189, 94, 0.81);
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding-left: 20px;
}
.button {
  text-decoration: none;
  border: 1px solid #68afff;
  padding: 10px;
  background-color: #68afff;
  color: #FFF;
  border-radius: 4px;
  display: inline-block;
  margin-top: 20px;
}
.title {
  color: #FFF;
  font-size: 50px;
  margin: 0 auto;
}
.contentwrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.content {
  position: absolute;
  padding: 50px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
